{% load i18n staticfiles %}


<p style="padding: 15px; margin-top: 5px;">
    {% trans "Haga clic abajo para iniciar el proceso de reestablecimiento de la contraseña de su cuenta" %}:
</p>
<div style="; color:#5d5c5c; font-family:'Arial', serif; text-align: center; vertical-align: middle;">
    <div style="font-family:'Arial', serif;font-size:14px; padding: 15px;
         border-radius:20px;background:#3333cc;color:#3333cc;border:1px solid #3333cc ;
        ">
        <a href="{{ protocolo }}://{{ domain }}{{ activation_url }}"
           target="_blank" type="button" title="Restablecer contraseña">
            <img src="{% static "email/images/icon_reset_password.png" %}"
                 style="width: 24px; vertical-align: middle;filter: brightness(0) invert(1);" alt="">

            <span style="color:#ffffff; font-size:20px; vertical-align: middle;font-weight: bold;">{% trans "Restablecer contraseña" %}</span>
        </a>
    </div>
</div>